@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');
@import url('https://fonts.cdnfonts.com/css/lakesight-personal-use-only');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Solway:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Solway:wght@700&display=swap');
@import url("https://db.onlinewebfonts.com/c/14679a7a97d388dac3a0380375ca4afe?family=Neometric+Alt+Heavy");
@import url("https://db.onlinewebfonts.com/c/21553b99c039b140f424afd283a33017?family=Mark+Web+W04+Ultra");
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

@font-face {
  font-family: 'Lakesight';
  src: url('./Lakesight.woff2') format('woff2'),
      url('./Lakesight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  color: var(--text-color);
  text-align: center;
  --text-color: rgba(255, 255, 255, 0.5);
  --headline-color: white;
}

section {
  height: 100vh;
  pointer-events: all;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
}

.nav {
  background-color: transparent;
  width: 100%;
  height: 7%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 20px;
  align-items: center;
  z-index: 10;
}

.nav h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  color: #182327;
  font-size: 2rem;
  transition: 0.5s;
}

.nav h1:hover {
  color: #f8a601;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 6px;
}

/* TRACK */
::-webkit-scrollbar-track {
  background-color: #f1e3d9;
}

/* HANDLE */
::-webkit-scrollbar-thumb {
  background-color: #232223;
  height: 5%;
}

.main--container {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

.experience {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  pointer-events: none;
}

.onemain {
  background-color: #182327;
  width: 98%;
  height: 70vh;
  border-radius: 40px;
}

.headline-container{
  display: flex;
  align-items: start;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: all;
  margin-top: 7.5%;
}

#text-behind, #text-front, #text-behind-blur {
  font-family: 'Roboto', sans-serif;
  position: absolute;
  text-align: center;
  font-size: clamp(24px, 20vw, 200px);
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 10px;
  line-height: 0.8;
  pointer-events: none;
}

#text-behind {
  color: var(--headline-color);
  z-index: 0;
}

#text-behind-blur {
  color: var(--headline-color);
  filter: blur(7.5px);
  -webkit-filter: blur(7.5px);
  z-index: 0;
}

#text-front {
  /*  Set text-color to transparent to only show the outline  */
  color: transparent;
  text-stroke: 2px var(--headline-color);
  -webkit-text-stroke: 2px var(--headline-color);
  z-index: 3;
}

.oneinfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 98%;
  padding-top: 13px;
}

.infobig {
  width: 66%;
  height: 200px;
  border-radius: 40px;
  background-color: transparent;
  border-color: #182327;
  border-style: solid;
  border-width: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.desc {
  color: #182327;
  margin-bottom: 0;
  font-size: 3rem;
}

.descp {
  color: #182327;
  margin-top: 0;
  font-size: 1.25rem;
}

.info {
  width: 33%;
  height: 200px;
  border-radius: 40px;
  background-color: #f8a601;
  border-color: #f8a601;
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #182327;
  font-size: 2rem;
}

.buybutton {
  width: 100px;
  height: 100px;
  background-color: #182327;
  border-radius: 70px;
  z-index: 1;
  transition: width 0.7s;
  margin-left: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buybutton:hover {
  width: 200px;
  transition: width 0.7s;
}

.buybutton i {
  position: relative;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

@media (max-width: 768px) {

  body {
    overflow: hidden;
  }

  .nav {
    background-color: transparent;
    width: 100%;
    height: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 20px;
    align-items: center;
    z-index: 10;
  }
  
  .nav h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    color: #182327;
    font-size: 1.2rem;
    transition: 0.5s;
  }

  .nav h1:hover {
    color: #182327;
  }

  .onemain {
    background-color: #182327;
    width: 98%;
    height: 60vh;
    border-radius: 40px;
  }

  .headline-container{
    display: flex;
    align-items: start;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: all;
    margin-top: 25%;
  }

  #text-behind, #text-front, #text-behind-blur {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    text-align: center;
    font-size: clamp(10px, 15vw, 200px);
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 10px;
    line-height: 1;
    pointer-events: none;
  }

  .infobig {
    width: 66%;
    height: 200px;
    border-radius: 40px;
    background-color: transparent;
    border-color: #182327;
    border-style: solid;
    border-width: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .desc {
    color: #182327;
    margin-bottom: 0;
    font-size: 1.25rem;
    line-height: 7.5px;
  }
  
  .descp {
    color: #182327;
    margin-top: 0;
    font-size: 0.75rem;
    line-height: 25px;
  }

  .info {
    width: 33%;
    height: 200px;
    border-radius: 40px;
    background-color: #f8a601;
    border-color: #f8a601;
    border-style: solid;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #182327;
    font-size: 1rem;
  }

  .buybutton {
    width: 50px;
    height: 50px;
    background-color: #182327;
    border-radius: 50px;
    z-index: 1;
    transition: width 0s;
    margin-left: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .buybutton:hover {
    width: 50px;
  }

}


.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  padding: 4rem;
  width: 100vw;
  height: 100vh;
  z-index: 12;
  display: grid;
  place-items: center;
  text-align: center;
  background-color: white;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.loading-screen--hidden {
  animation: fade-out 0.5s ease-in-out forwards 1s;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.loading-screen__title {
  font-family: 'Oswald', sans-serif;
  font-size: 4rem;
  font-weight: 900;
  text-transform: uppercase;
  color: #182327;
  margin: 0;
}

.progress__container {
  width: 100%;
  height: 1rem;
  background-color: #182327;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}

.progress__bar {
  width: 0;
  height: 100%;
  background-color: #f8a601;
  transition: width 0.5s ease-in-out;
}





